<section class="section">
  <div class="contact-grid">
    <p>
      <strong>General Inquiries</strong><br />
      Carly Markkanen<br />
      <a href="mailto:info@oldforestechoes.com">info@oldforestechoes.com</a>
    </p>
    <p>
      <strong>Director</strong><br />
      Barbora Silhanova<br />
      <a href="mailto:barbora@oldforestechoes.com">barbora@oldforestechoes.com</a>
    </p>
  </div>
</section>
