---
interface Props {
  videoId: string;
  title: string;
}

const { videoId, title } = Astro.props;
---

<div class="video-embed">
  <iframe
    src={`https://www.youtube-nocookie.com/embed/${videoId}`}
    title={title}
    width="560"
    height="315"
    loading="lazy"
    allowfullscreen
  ></iframe>
</div>
